name: GitHub Pages

on:
  push:
    branches:
      - gh-pages
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: 'pages'
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout gh-pages branch
        uses: actions/checkout@v4
        with:
          ref: gh-pages

      - name: Configure Pages
        id: configurepages
        uses: actions/configure-pages@v5

      - name: Upload static files from gh-pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./ # gh-pages 브랜치의 정적 파일 전체

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
